@import "../../../styles/colors.scss";

.bg-red {
    background-color: $primary-color-1!important;
    .navbar-nav {
      .pi {
        padding-right: 5px;
      }
    }
}
.logo {
    width: 60px!important;
    margin-right: 10px;
}

#signup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
    align-items: center;
  }

  li {
    color: white;

  }
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
}

#iconsNavbar {
  display: flex;
  justify-content: right;
}
