@import "../../../styles/colors.scss";

.bg-red {
    background-color: $primary-color-1!important;
    .navbar-nav {
      .pi {
        padding-right: 5px;
      }
    }
}
.logo {
    width: 60px!important;
    margin-right: 10px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: right;
  align-items: right;
  justify-content: flex-end;
  list-style: none;
}

li {
  color: white;

}
