// primary colors:
$primary-color-1: #8e210b;
$primary-color-2: #ff7a5c;
$primary-color-3: #0805a0;


// secondary colors:
$secondary-color-1: black;
$secondary-color-2: rgb(63,63,63);
$secondary-color-3: rgb(128,128,128);
$secondary-color-4: rgb(195,195,195);
$secondary-color-5: rgb(255,255,255);
