@import '../../../../styles/colors.scss';

.contenitore {
  display: block;
  .text-center {
    color: $primary-color-1;
  }
  button {
    background-color: $primary-color-1;
  }
}

.modal-header {
  background-color: $primary-color-1;
}

.modal-footer {
  background-color: $primary-color-1;
}
